<div class="row">
    <div class="col-xl-6">
        <app-card>
            <div class="card-header">Area Chart Example</div>
            <div class="card-body">
                <app-charts-area></app-charts-area>
            </div>
        </app-card>
    </div>
    <div class="col-xl-6">
        <app-card>
            <div class="card-header">Bar Chart Example</div>
            <div class="card-body">
                <app-charts-bar></app-charts-bar>
            </div>
        </app-card>
    </div>
</div>